{% extends 'layout.html' %}

{% block content %}
<div class="eighty">
<br/>
<font color="gray" size=2>*상세정보를 보려면 제품명을 클릭하세요</font>
<table class="result_table" id="result_table_id">
    <thead>
        <tr class="result_tr">
            <th class="result_th">제품명</th>
            <th class="result_th">브랜드</th>
            <th class="result_th">분류</th>
            <th class="result_th">칼로리</th>
        </tr>
    </thead>

    <tbody>
        {% for i in data_list %}
        <tr class="result_tr">
            <td class="result_td"><form action="detailed" method="post"><input type=submit value={{ i[3] }} name="detailed" class="detailed"></form></td>
            <td class="result_td">{{ i[4] }}</td>
            <td class="result_td">{{ i[6] }}</td>
            <td class="result_td">{{ i[11] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}